USE [KistlerDB]
GO
ALTER TABLE [dbo].[UserProfiles] DROP CONSTRAINT [FK_UserProfiles_UserMaster]
GO
ALTER TABLE [dbo].[States] DROP CONSTRAINT [FK_States_Countries]
GO
ALTER TABLE [dbo].[OrderMaster] DROP CONSTRAINT [FK_OrderMaster_UserMaster]
GO
ALTER TABLE [dbo].[OrderImpDetails] DROP CONSTRAINT [FK_OrderImpDetails_ShippingAddresses]
GO
ALTER TABLE [dbo].[OrderImpDetails] DROP CONSTRAINT [FK_OrderImpDetails_PaymentMethods]
GO
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [FK_OrderDetails_OrderMaster]
GO
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [FK_OrderDetails_OfferMaster]
GO
ALTER TABLE [dbo].[TaxNShipping] DROP CONSTRAINT [DF_TaxNShipping_ShippingCharges]
GO
ALTER TABLE [dbo].[TaxNShipping] DROP CONSTRAINT [DF_TaxNShipping_SalesTaxPerc]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[UserProfiles]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[UserMaster]
GO
/****** Object:  Table [dbo].[TaxNShipping]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[TaxNShipping]
GO
/****** Object:  Table [dbo].[States]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[States]
GO
/****** Object:  Table [dbo].[ShippingAddresses]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[ShippingAddresses]
GO
/****** Object:  Table [dbo].[Setup]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[Setup]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[PaymentMethods]
GO
/****** Object:  Table [dbo].[OrderMaster]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[OrderMaster]
GO
/****** Object:  Table [dbo].[OrderImpDetails]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[OrderImpDetails]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[OrderDetails]
GO
/****** Object:  Table [dbo].[OfferMaster]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[OfferMaster]
GO
/****** Object:  Table [dbo].[OfferDetails]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[OfferDetails]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 12/19/2016 12:06:21 AM ******/
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] NOT NULL,
	[CountryName] [nvarchar](23) NOT NULL,
	[ISOCode] [nchar](2) NOT NULL,
	[RequiresZip] [bit] NOT NULL CONSTRAINT [DF_Countries_RequiresZip]  DEFAULT ((1)),
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OfferDetails]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OfferDetails](
	[Id] [int] NOT NULL,
	[OfferId] [int] NOT NULL,
	[Spec] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OfferMaster]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OfferMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Item] [varchar](100) NOT NULL,
	[Price] [decimal](4, 0) NOT NULL,
	[Packing] [char](1) NOT NULL,
	[AvailableQty] [smallint] NOT NULL,
	[TastingNotes] [varchar](1032) NULL,
	[ImageUrl] [varchar](256) NULL,
	[Descr] [varchar](256) NULL,
 CONSTRAINT [PK_OfferMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[OfferId] [int] NOT NULL,
	[OrderQty] [smallint] NOT NULL,
	[WishList] [smallint] NOT NULL CONSTRAINT [DF_OrderDetails_WishList]  DEFAULT ((0)),
	[Price] [decimal](10, 0) NOT NULL CONSTRAINT [DF_OrderDetails_Price]  DEFAULT ((0)),
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderImpDetails]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderImpDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[CreditCardId] [int] NULL,
 CONSTRAINT [PK_OrderImpDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderMaster]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MDate] [date] NOT NULL CONSTRAINT [DF_OrderMaster_MDate]  DEFAULT (getdate()),
	[OrderNo] [varchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[Descr] [varchar](50) NULL,
	[IsDelivered] [bit] NOT NULL CONSTRAINT [DF_OrderMaster_IsSupplied]  DEFAULT ((0)),
	[Invoice] [varchar](50) NULL,
	[Amount] [decimal](10, 0) NOT NULL CONSTRAINT [DF_OrderMaster_Amount]  DEFAULT ((0)),
	[SalesTaxWine] [decimal](10, 2) NOT NULL CONSTRAINT [DF_OrderMaster_SalesTax]  DEFAULT ((0)),
	[ShippingWine] [decimal](10, 0) NOT NULL CONSTRAINT [DF_OrderMaster_Shipping]  DEFAULT ((0)),
	[TotalPriceWine] [decimal](10, 0) NOT NULL CONSTRAINT [DF_OrderMaster_TotalPrice]  DEFAULT ((0)),
	[SalesTaxAddl] [decimal](10, 2) NOT NULL CONSTRAINT [DF_OrderMaster_SalesTaxAddl]  DEFAULT ((0)),
	[ShippingAddl] [decimal](10, 2) NOT NULL CONSTRAINT [DF_OrderMaster_ShippingAddl]  DEFAULT ((0)),
	[TotalPriceAddl] [decimal](10, 2) NOT NULL CONSTRAINT [DF_OrderMaster_TotalPriceAddl]  DEFAULT ((0)),
 CONSTRAINT [PK_OrderMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](8) NULL,
	[CardName] [nvarchar](100) NOT NULL,
	[CCFirstName] [nvarchar](100) NOT NULL,
	[CCLastName] [nvarchar](100) NOT NULL,
	[CCType] [nvarchar](100) NOT NULL,
	[CCNumber] [nvarchar](100) NOT NULL,
	[CCExpiryMonth] [nvarchar](100) NOT NULL,
	[CCExpiryYear] [nvarchar](100) NOT NULL,
	[CCSecurityCode] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Co] [nvarchar](100) NULL,
	[Street1] [nvarchar](100) NOT NULL,
	[Street2] [nvarchar](100) NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](11) NOT NULL,
	[Zip] [nvarchar](15) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[ISOCode] [nchar](2) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setup]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Setup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MKey] [varchar](64) NOT NULL,
	[IntValue] [int] NOT NULL CONSTRAINT [DF_Setup_IntValue]  DEFAULT ((0)),
	[StringValue] [varchar](256) NULL,
 CONSTRAINT [PK_Setup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShippingAddresses]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](8) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Co] [nvarchar](100) NULL,
	[Street1] [nvarchar](100) NOT NULL,
	[Street2] [nvarchar](100) NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](11) NOT NULL,
	[Zip] [nvarchar](15) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[ISOCode] [nchar](2) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[userId] [int] NOT NULL,
	[IsAddressVerified] [bit] NOT NULL CONSTRAINT [DF_ShippingAddresses_IsAddressVerified]  DEFAULT ((0)),
 CONSTRAINT [PK_ShippingAddresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateAbbr] [nchar](2) NOT NULL,
	[CountryId] [int] NOT NULL CONSTRAINT [DF_States_CountryId]  DEFAULT ((246)),
	[StateName] [nvarchar](50) NOT NULL,
	[IsNoShip] [bit] NOT NULL CONSTRAINT [DF_States_IsNoShip]  DEFAULT ((0)),
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateAbbr] ASC,
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaxNShipping]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaxNShipping](
	[Zip] [varchar](50) NOT NULL,
	[SalesTaxPerc] [decimal](10, 2) NOT NULL,
	[ShippingCharges] [decimal](10, 0) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PwdHash] [varchar](100) NOT NULL,
	[Role] [char](1) NOT NULL,
	[Code] [varchar](10) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 12/19/2016 12:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](256) NOT NULL,
	[LastName] [varchar](256) NOT NULL,
	[Phone] [varchar](64) NOT NULL,
	[BirthDay] [smalldatetime] NOT NULL,
	[MailingAddress1] [varchar](512) NOT NULL,
	[MailingAddress2] [varchar](512) NULL,
	[MailingCity] [varchar](64) NOT NULL,
	[MailingState] [varchar](64) NOT NULL,
	[MailingZip] [varchar](64) NOT NULL,
	[UserId] [int] NOT NULL,
	[PrevBalanceWine] [decimal](12, 2) NOT NULL CONSTRAINT [DF_UserProfiles_PrevBalance]  DEFAULT ((0)),
	[PrevBalanceAddl] [decimal](12, 2) NOT NULL CONSTRAINT [DF_UserProfiles_PrevBalanceAddl]  DEFAULT ((0)),
	[MailingCountry] [varchar](64) NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Countries] ([CountryId], [CountryName], [ISOCode], [RequiresZip]) VALUES (1, N'Afghanistan', N'AF', 0)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [ISOCode], [RequiresZip]) VALUES (2, N'Åland Islands', N'AX', 1)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [ISOCode], [RequiresZip]) VALUES (3, N'Albania', N'AL', 1)
GO
SET IDENTITY_INSERT [dbo].[OfferMaster] ON 

SET IDENTITY_INSERT [dbo].[OfferMaster] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [OfferId], [OrderQty], [WishList], [Price]) VALUES (234, 84, 7, 0, 1, CAST(80 AS Decimal(10, 0)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [OfferId], [OrderQty], [WishList], [Price]) VALUES (235, 85, 6, 1, 1, CAST(80 AS Decimal(10, 0)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [OfferId], [OrderQty], [WishList], [Price]) VALUES (236, 85, 7, 3, 0, CAST(80 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[OrderImpDetails] ON 

INSERT [dbo].[OrderImpDetails] ([Id], [OrderId], [AddressId], [CreditCardId]) VALUES (37, 84, 6, NULL)
INSERT [dbo].[OrderImpDetails] ([Id], [OrderId], [AddressId], [CreditCardId]) VALUES (38, 85, 6, 9)
INSERT [dbo].[OrderImpDetails] ([Id], [OrderId], [AddressId], [CreditCardId]) VALUES (39, 86, 6, 9)
SET IDENTITY_INSERT [dbo].[OrderImpDetails] OFF
SET IDENTITY_INSERT [dbo].[OrderMaster] ON 

INSERT [dbo].[OrderMaster] ([Id], [MDate], [OrderNo], [UserId], [Descr], [IsDelivered], [Invoice], [Amount], [SalesTaxWine], [ShippingWine], [TotalPriceWine], [SalesTaxAddl], [ShippingAddl], [TotalPriceAddl]) VALUES (84, CAST(N'2016-12-18' AS Date), N'44', 1, NULL, 0, NULL, CAST(127 AS Decimal(10, 0)), CAST(0.00 AS Decimal(10, 2)), CAST(20 AS Decimal(10, 0)), CAST(0 AS Decimal(10, 0)), CAST(6.80 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderMaster] ([Id], [MDate], [OrderNo], [UserId], [Descr], [IsDelivered], [Invoice], [Amount], [SalesTaxWine], [ShippingWine], [TotalPriceWine], [SalesTaxAddl], [ShippingAddl], [TotalPriceAddl]) VALUES (85, CAST(N'2016-12-18' AS Date), N'45', 1, NULL, 0, NULL, CAST(995 AS Decimal(10, 0)), CAST(61.20 AS Decimal(10, 2)), CAST(20 AS Decimal(10, 0)), CAST(720 AS Decimal(10, 0)), CAST(13.60 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), CAST(160.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderMaster] ([Id], [MDate], [OrderNo], [UserId], [Descr], [IsDelivered], [Invoice], [Amount], [SalesTaxWine], [ShippingWine], [TotalPriceWine], [SalesTaxAddl], [ShippingAddl], [TotalPriceAddl]) VALUES (86, CAST(N'2016-12-18' AS Date), N'46', 1, NULL, 0, NULL, CAST(138 AS Decimal(10, 0)), CAST(0.00 AS Decimal(10, 2)), CAST(20 AS Decimal(10, 0)), CAST(0 AS Decimal(10, 0)), CAST(7.65 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), CAST(90.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderMaster] OFF
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([Id], [Code], [CardName], [CCFirstName], [CCLastName], [CCType], [CCNumber], [CCExpiryMonth], [CCExpiryYear], [CCSecurityCode], [Name], [Phone], [Co], [Street1], [Street2], [City], [State], [Zip], [Country], [ISOCode], [IsDefault], [userId]) VALUES (4, NULL, N'American Express', N'James
', N'Butt
', N'Credit Card', N'378282246310005', N'12', N'2019', N'122', N'James
 Butt
', N'504-621-8927
', NULL, N'6649 N Blue Gum St
', NULL, N'New Orleans
', N'LA
', N'70116
', N'Orleans
', N'OR', 1, 1)
INSERT [dbo].[PaymentMethods] ([Id], [Code], [CardName], [CCFirstName], [CCLastName], [CCType], [CCNumber], [CCExpiryMonth], [CCExpiryYear], [CCSecurityCode], [Name], [Phone], [Co], [Street1], [Street2], [City], [State], [Zip], [Country], [ISOCode], [IsDefault], [userId]) VALUES (9, NULL, N'My master card', N'Sushant', N'Agrawal', N'American Express', N'371449635398431', N'12', N'2016', N'223', N'www', N'(111) 111-1111', NULL, N'www', N'www', N'ww', N'www', N'111111111111', N'Bangladesh', N'BD', 0, 1)
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
SET IDENTITY_INSERT [dbo].[Setup] ON 

INSERT [dbo].[Setup] ([Id], [MKey], [IntValue], [StringValue]) VALUES (1, N'MaxOrderNumber', 54, NULL)
INSERT [dbo].[Setup] ([Id], [MKey], [IntValue], [StringValue]) VALUES (2, N'DefaultSalesTaxPerc', 0, N'8.5')
INSERT [dbo].[Setup] ([Id], [MKey], [IntValue], [StringValue]) VALUES (3, N'DefaultShippingCharges', 0, N'20')
SET IDENTITY_INSERT [dbo].[Setup] OFF
SET IDENTITY_INSERT [dbo].[ShippingAddresses] ON 

INSERT [dbo].[ShippingAddresses] ([Id], [Code], [Name], [Phone], [Co], [Street1], [Street2], [City], [State], [Zip], [Country], [ISOCode], [IsDefault], [userId], [IsAddressVerified]) VALUES (2, N'sagarwal', N'James Butt1', N'(454) 554-5455', NULL, N' 525 Wyoming Blvd NE', N'', N'Albuquerque', N'NM', N'87123', N'United States', N'US', 0, 1, 1)
INSERT [dbo].[ShippingAddresses] ([Id], [Code], [Name], [Phone], [Co], [Street1], [Street2], [City], [State], [Zip], [Country], [ISOCode], [IsDefault], [userId], [IsAddressVerified]) VALUES (3, N'sagarwal', N'Josephine Darakjy
', N'810-292-9388', NULL, N' 525 Wyoming Blvd NE', N'', N'Albuquerque', N'NM', N'87123', N'United States', N'US', 0, 1, 1)
INSERT [dbo].[ShippingAddresses] ([Id], [Code], [Name], [Phone], [Co], [Street1], [Street2], [City], [State], [Zip], [Country], [ISOCode], [IsDefault], [userId], [IsAddressVerified]) VALUES (4, N'sagarwal', N'Mc Donald', N'(983) 105-2442', NULL, N'N 1000 18th St ', N'Test', N'Centerville', N'IA', N'52544', N'United States', N'US', 0, 1, 1)
SET IDENTITY_INSERT [dbo].[ShippingAddresses] OFF
INSERT [dbo].[States] ([StateAbbr], [CountryId], [StateName], [IsNoShip]) VALUES (N'AB', 39, N'Alberta', 0)
INSERT [dbo].[States] ([StateAbbr], [CountryId], [StateName], [IsNoShip]) VALUES (N'AK', 246, N'Alaska', 0)
INSERT [dbo].[States] ([StateAbbr], [CountryId], [StateName], [IsNoShip]) VALUES (N'AL', 246, N'Alabama', 0)
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([Id], [Email], [PwdHash], [Role], [Code]) VALUES (1, N'sagarwal@netwoven.com', N'dea5687d7786d43266cf55d7be014530', N'u', N'sagarwal')
INSERT [dbo].[UserMaster] ([Id], [Email], [PwdHash], [Role], [Code]) VALUES (4, N'sa@gmail.com', N'dea5687d7786d43266cf55d7be014530', N'U', N'sushant')
INSERT [dbo].[UserMaster] ([Id], [Email], [PwdHash], [Role], [Code]) VALUES (5, N'sagarwal1@netwoven.com', N'dea5687d7786d43266cf55d7be014530', N'u', N'sushant1')
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

INSERT [dbo].[UserProfiles] ([Id], [FirstName], [LastName], [Phone], [BirthDay], [MailingAddress1], [MailingAddress2], [MailingCity], [MailingState], [MailingZip], [UserId], [PrevBalanceWine], [PrevBalanceAddl], [MailingCountry]) VALUES (1, N'Sushant', N'Agrawal', N'9998887612', CAST(N'1963-11-19 00:00:00' AS SmallDateTime), N'a1', N'a', N'a', N'a', N'700012', 4, CAST(200.00 AS Decimal(12, 2)), CAST(-190.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[UserProfiles] ([Id], [FirstName], [LastName], [Phone], [BirthDay], [MailingAddress1], [MailingAddress2], [MailingCity], [MailingState], [MailingZip], [UserId], [PrevBalanceWine], [PrevBalanceAddl], [MailingCountry]) VALUES (7, N'Sushant', N'Agrawal', N'9831052332', CAST(N'1963-11-07 00:00:00' AS SmallDateTime), N'12 JL', NULL, N'Kolkata', N'WB', N'7000133', 4, CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[UserProfiles] ([Id], [FirstName], [LastName], [Phone], [BirthDay], [MailingAddress1], [MailingAddress2], [MailingCity], [MailingState], [MailingZip], [UserId], [PrevBalanceWine], [PrevBalanceAddl], [MailingCountry]) VALUES (9, N'Sushant', N'Agrawal', N'(919) 831-0523', CAST(N'2016-12-28 00:00:00' AS SmallDateTime), N'aaa2', N'aaa1', N'aaa', N'2bvw', N'2221', 1, CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), N'Algeria')
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
ALTER TABLE [dbo].[TaxNShipping] ADD  CONSTRAINT [DF_TaxNShipping_SalesTaxPerc]  DEFAULT ((0)) FOR [SalesTaxPerc]
GO
ALTER TABLE [dbo].[TaxNShipping] ADD  CONSTRAINT [DF_TaxNShipping_ShippingCharges]  DEFAULT ((0)) FOR [ShippingCharges]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_OfferMaster] FOREIGN KEY([OfferId])
REFERENCES [dbo].[OfferMaster] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_OfferMaster]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_OrderMaster] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderMaster] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_OrderMaster]
GO
ALTER TABLE [dbo].[OrderImpDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderImpDetails_PaymentMethods] FOREIGN KEY([CreditCardId])
REFERENCES [dbo].[PaymentMethods] ([Id])
GO
ALTER TABLE [dbo].[OrderImpDetails] CHECK CONSTRAINT [FK_OrderImpDetails_PaymentMethods]
GO
ALTER TABLE [dbo].[OrderImpDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderImpDetails_ShippingAddresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[ShippingAddresses] ([Id])
GO
ALTER TABLE [dbo].[OrderImpDetails] CHECK CONSTRAINT [FK_OrderImpDetails_ShippingAddresses]
GO
ALTER TABLE [dbo].[OrderMaster]  WITH CHECK ADD  CONSTRAINT [FK_OrderMaster_UserMaster] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([Id])
GO
ALTER TABLE [dbo].[OrderMaster] CHECK CONSTRAINT [FK_OrderMaster_UserMaster]
GO
ALTER TABLE [dbo].[States]  WITH NOCHECK ADD  CONSTRAINT [FK_States_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_States_Countries]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_UserMaster] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([Id])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_UserMaster]
GO
