<div class="container mainContainer">
    <h2>Order history</h2>
    <div *ngIf="isDataAvailable" class="panel panel-default">
        <div class="kistlarOderHistory mobileviewOrderHistory">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice</th>
                        <th>Order Summary</th>
                        <th class="priceFldAlign">Amount</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of pageRows" (click)="showDetails(order)">
                        <td scope="row">{{order.mDate | date:'MM/dd/yyyy'}}&nbsp;</td>
                        <td><a href="">{{order.invoice}}</a>&nbsp;</td>
                        <td>{{order.descr}}&nbsp;</td>
                        <td class="productPrice priceFldAlign">{{order.amount | currency:'USD':true}}&nbsp;</td>
                        <td class="text-center"><input type="radio" name="showDetails" [checked]="order.checked"><span class="Chkshowdetails"> View Details</span>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="paginationAlign">
                    <pagination class="pagination-sm" [(ngModel)]="page" [totalItems]="orderHeaders.length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize"
                        [boundaryLinks]="true" (pageChanged)="onPageChange($event)" (numPages)="numPages = $event">
                    </pagination>
                </div>
            </div>
        </div>

        <div class="orderDetailsPanel">
            <div class="arrow-up"></div>
            <div class="panel panel-default orderDetailsPaneltbl" name="requestTotal">
                <div class="panel-heading">Order Details</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Wine Request</th>
                                <th class="text-center">Request</th>
                                <th class="priceFldAlign">Total</th>
                                <th class="text-center">Additional Requested</th>
                                <th class="priceFldAlign">Totals with Additional</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orderDetails.details">
                                <td class="producTitle">{{order.item}}&nbsp;</td>
                                <td class="text-center">{{order.orderQty}}&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{(order.orderQty * order.price) | number : '1.2-2'}}&nbsp;</td>
                                <td class="text-center">{{order.wishList}}&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{(order.wishList * order.price) | number : '1.2-2'}}&nbsp;</td>
                            </tr>
                            <tr class="totalaWineCosts">
                                <td class="subTotalTtitle">Total Wine Cost</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.totalPriceWine | number : '1.2-2'}}&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.totalPriceAddl | number : '1.2-2'}}&nbsp;</td>
                            </tr>
                            <tr class="mobSalesTax">
                                <td class="subTotalTtitle">Sales Tax</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.salesTaxWine | number : '1.2-2'}}&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.salesTaxAddl | number : '1.2-2'}}&nbsp;</td>
                            </tr>
                            <tr class="mobShipping">
                                <td class="subTotalTtitle">Shipping</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.shippingWine | number : '1.2-2'}}&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.shippingAddl | number : '1.2-2'}}&nbsp;</td>
                            </tr>
                            <tr class="grandTotals">
                                <td class="subTotalTtitle">Grand Total</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.grandTotalWine | number : '1.2-2'}}&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="productPrice priceFldAlign">${{selectedOrder.grandTotalAddl | number : '1.2-2'}}&nbsp;</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="panel panel-default" name="shippingAddress">
                <div class="panel-heading">Shipping Address <span>
                    <button type="button" class="btn btn-xs pull-right btn-kistler" (click)="changeAddress()">Change Address</button>
                    </span></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td width="20%" class="noBorder">Name:</td>
                            <td class="noBorder">{{orderDetails.address.name}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">Phone:</td>
                            <td class="noBorder">{{orderDetails.address.phone}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">C/o:</td>
                            <td class="noBorder">{{orderDetails.address.co}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">Address1:</td>
                            <td class="noBorder">{{orderDetails.address.street1}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">Address2:</td>
                            <td class="noBorder">{{orderDetails.address.street2}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">City:</td>
                            <td class="noBorder">{{orderDetails.address.city}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">State:</td>
                            <td class="noBorder">{{orderDetails.address.state}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">Zip:</td>
                            <td class="noBorder">{{orderDetails.address.zip}}</td>
                        </tr>
                        <tr>
                            <td width="20%" class="noBorder">Country:</td>
                            <td class="noBorder">{{orderDetails.address.country}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" name="creditCardInfo">
                <div class="panel-heading">Payment Details <span>
                    <button type="button" class="btn btn-xs pull-right btn-kistler" (click)="changePaymentMethod()">Change Payment Method</button>
                    </span></div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="panelPaymentGap">Card Name: <span class="cardname">{{orderDetails.card.cardName}}</span></div>
                        <div class="panelPaymentGap">Card Number: <span class="cardNumber">{{orderDetails.card.ccNumber}}</span></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <modal #addrModal>
            <modal-header>
                <h2>Select a shipping address</h2>
            </modal-header>
            <modal-content>
                <div class="form-group" *ngFor="let address of allAddresses; let i=index">
                    <button type="button" class="btn btn-link" (click)="selectAddress(address)">
          {{address.name}},
          {{address.street1}}, {{address.city}}, {{address.state}}, {{address.zip}}, {{address.country}}
          <span *ngIf="address.isDefault" class="DefaultColor">Default</span>
          </button>
                </div>
            </modal-content>
            <modal-footer>
                <button class="btn btn-md btn-kistler" (click)="addrModal.close()">Cancel</button>
            </modal-footer>
        </modal>
    </div>
    <div class="row">
        <modal #cardModal>
            <modal-header>
                <h2>Select a credit card</h2>
            </modal-header>
            <modal-content>
                <div class="form-group" *ngFor="let card of payMethods; let i=index">
                    <button type="button" class="btn btn-link" (click)="selectCard(card)">
          {{card.cardName}},
          {{card.ccNumber}}
          <span *ngIf="card.isDefault" class="DefaultColor">Default</span>
          </button>
                </div>
            </modal-content>
            <modal-footer>
                <button class="btn btn-md btn-kistler" (click)="cardModal.close()">Cancel</button>
            </modal-footer>
        </modal>
    </div>
    <p-growl [value]="growlMessages"></p-growl>
    <alert *ngIf="alert.show" [type]="alert.type" dismissable="true">{{alert.message}}</alert>
</div>